include ./sites/servlet/upstream.config;

server {
  server_name servlet.local;
  include ./sites/servlet/http.config;
  root /Users/tkirby/workspace/servlet/static/;
}

server {
  server_name servlet.local;
  include ./sites/servlet/https.config;
  include ./sites/servlet/proxy.config;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/servlet.local/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/servlet.local/server.key;
  root /Users/tkirby/workspace/servlet/static/;
}

server {
  server_name www.servlet.local;
  include ./sites/servlet/http.config;
  root /Users/tkirby/workspace/servlet/static/;
}

server {
  server_name www.servlet.local;
  listen 443;
  ssl on;
  ssl_protocols TLSv1.1 TLSv1.2;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/www.servlet.local/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/www.servlet.local/server.key;
  return 301 $scheme://servlet.local$request_uri;
}
